
.wrapName {
    display: block;
    width: 100%;
}
.col-name {
    display: inline-block;
    width: calc( 100% - 30px );
}
.col-details {
    width: 100%;
    display: block;
    margin-left: 3px;
}
.col-remove {
    display: inline-block;
    width: fit-content;
    vertical-align: middle;
    width: 25px;
}
.rowAddNew {
    padding-bottom: 10px;
}