.mainPage {
  height: 100vh;
}
.wrapSideNav {
  border: solid;
  border-color: #ebebeb;
  z-index: 2;
}

.wrapHeader {
  border-top: solid;
  border-bottom: solid;
  height: 60px;
  border-color: #ebebeb;
  align-items: center;
  justify-content: center;
  padding: 9px 20px 9px 12px;
}
.wrapContent {
  height: calc(100% - 60px);
  background-color: #ffffff;
  border-bottom: solid #ebebeb;
}
