.mainPage {
    height: 100vh;
}
.wrapSideNav {
    border-right: solid;
    height: 100%;
    border-color: rgba(242, 242, 242, 1);
    z-index: 2;
}
.wrapDisplay {
    height: 100%;
    background-color: #FBFBFB;
    padding: 0px;
}
.wrapHeader {
    border-bottom:solid;
    height: 75px;
    border-color: rgba(242, 242, 242, 1);
    background-color: white;
}
.wrapContent {
    height: calc( 100% - 75px);
    background-color: #FBFBFB;
}