.wrapVProfile {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    width: 100%;
}
.vProfileBanner {
    border: solid;
    display: flex;
    width: 100%;
    height: 250px;
    background-color: #001C2A;
    align-items: center;
    justify-content: space-between;
    padding: 90px 150px;

    @media (max-width: 600px) {
        padding: 0;
    }
}

.logoutButton {
    @media (max-width: 600px) {
        margin-top: 5rem;
        margin-left: -4rem
    } 
}
.btnVLogout {
    background-color: #0080BC;
    border: none;
    height: 40px;
    color: white
}
.wrapUserInfo {
    display: flex;
    align-items: center;

    @media (max-width: 600px) {
        display: block;
    }
}
.userInfo {
    display: flex;
    flex-direction: column;
}
.profVIcon {
    margin: 24px;
}
.vName {
    font-size: 32px;
    color: white;
}
.vContact {
    display: flex;
    font-size: 14px;
    color: white;
}
.vContact span {
    font-size: 30px;
    margin: -20px 8px;
}
.vProfNav {
    margin: 10px 150px;
    padding: 12px 5px 8px 5px;

    @media (max-width: 600px) {
        margin: 0;
    }
}
.vpNavItem {
    text-decoration: none;
    padding: 10px 10px;
    font-size: 14px;
    color: #686C73;
}
.selectedTab {
    text-decoration: none;
    padding: 10px 10px;
    font-size: 14px;
    color: #006FA2;
    font-weight: 600;
    border-bottom: solid 2px #006FA2;;
} 
.vpContent {
    margin: 10px 150px;

    @media (max-width: 600px) {
        margin: 0;
    }
}
.wrap-status {
    display: flex;
    padding: 10px 0px;
    gap: 10px;
}
.volunteerStatus {
    color: white;
    margin-top: 3px;
}
.vtooltip {
    background-color: inherit;
    width: fit-content;
    border: solid 1px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    padding: 0px 5px;
    font-size: 10px;
}
.register-vprofile {
    background-color: green;
    color: white;
    border: none;
    padding: 3px 10px;
    border-radius: 3px;
    margin-top: 5px;
}