.wrapNeedsContent {
    height: 100%;
    padding: 10px 20px 10px 10px;
}
.needs {
    height: 100%;
    background-color: white; 
    border: solid;
    border-color: rgba(242, 242, 242, 1);
}
.needBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.needMenu {
    display: flex;
}
.needMenu li {
    list-style-type: none;
    padding: 15px 20px;
    border: none;
    font-size: 15px;
    color: #4E586E;
    font-weight: 600;
}
.needMenu li:hover {
    border-bottom: solid;
}
.needMenu li:active {
    border-bottom: solid;
}
.needBar button {
    font-size: 100%;
    background-color: #4c6380;
    border: none;
    color: white;
    padding: 3px 15px;
    border-radius: 6px;
    margin-right: 2%;
    cursor: pointer;
}
.zeroNeed {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.zeroNeed button {
    font-size: 110%;
    background-color: #4c6380;
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
}
.headZeroNeed {
    color: #1f1f1f;
    font-weight: 400;
    font-size: 120%;
    padding: 10px;
}
.textZeroNeed {
    color: #99999F;
    font-size: 100%;
    padding-bottom: 20px;

}