body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.loading-div {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spiner {
	height: 55px;
	width: 55px;
	border-top: 3px solid purple;
	border-left: 3px solid purple;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg); /* Initial rotation */
	}
	100% {
		transform: rotate(360deg); /* Full rotation */
	}
}
