.wrapRaiseNeed {
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: relative;
    top: -101%;
    z-index: 10;
    align-items: center;
    margin: 0px;
}
.raiseNeed {
    background-color: white;
    height: 80%;
    overflow: scroll;
    overflow: visible;
}
.btnClose {
    margin-left: calc(100% + 15px);
    margin-top: -30px ;
    z-index: 20;
}
.btnClose button {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 100%;
    border:none;
}
.raiseNeedBar {
    border-bottom-style: ridge;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px
}
.wrapNameNeed {
    margin: 5px 5px;
}
.needName {
    font-size: 150%;
    font-weight: 500;
}
.btnRaiseNeed {
    border: none;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #4c6380;
    color: white;
    border-radius: 5px;
}
.raiseNeedForm {
    width: 100%;
    overflow: scroll;
    padding: 1%;
}
.itemForm {
    margin: 5px 0px;
}
.itemForm label {
    width: 100%;
    margin-bottom: 2px;
}
.itemForm input {
    padding: 2px;
    width: 100%;
    border-radius: 3px;
}
.itemForm select {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
}
.itemForm button {
    width: 100%;
    text-align: left;
    border: none;
    padding: 5px;
    margin-top: 10px;
}
.ql-container {
    height: 110px;
}
.formBottom {
    display: flex;
}
.headerSkills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}