.detailsNeedVoluntProfile {
    border: solid 1px #DBDBDB;
    height: 300px;
    padding: 25px;
    margin-top: 20px;
    border-radius: 5px;
}
.nameNVP {
    font-size: 20px;
    font-weight: 500;
    color: #2C2E30;
}
.typeNVP {
    font-size: 14px;
    color: #99999F;
    margin: 5px 0px;
}
.aboutNVP {
    font-size: 15px;
    color: #4D4D4D;
    margin-top: 20px;
}
.rowNVP {
    display: flex;
    margin: 10px 0px;
}
.itemNVP span {
    font-size: 15px;
    color: #99999F;
    margin-right: 10px;
    @media (max-width: 600px) {
        font-size: 12px;
    }
}
.itemNVP {
    font-size: 15px;
    color: #4D4D4D;
    width: 100%;
    @media (max-width: 600px) {
        font-size: 12px;
    }

}
.deliverablesNeedVolunteerProfile {
    margin-top: 30px;
}
.headDNVP {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

}
.listDNVP {
    display: flex;
    gap: 20px;
    @media (max-width: 600px) {
        flex-direction: column;
    }
}
.listDNVPbox {
    width: 400px;
}
.todoDNVP, .completedDNVP, .canceledDNVP {
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    padding: 2px 12px;
}
.upcomingDNVP {
    background-color: #1B6C92 ;
}
.todoDNVP {
    background-color: #0080BC ;
}
.completedDNVP {
    background-color: #277C3B ;
}
.canceledDNVP {
    background-color: #BA1E12 ;
}
.deliverable-container {
    border: solid 1px #DBDBDB;
    width: 320px;
    margin: 20px 0px;
    border-radius: 5px;
    padding: 8px 10px;
}
.deliverable-title {
    display: flex;
    gap: 8px;
}
.date-deliverable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px ;
    font-size: 14px;
    color: #99999F;
}
.date-completed-deliverable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px ;
    font-size: 14px;
    color: #277C3B;
}
.button-dstat {
    background-color: inherit;
    color: black;
    margin-right: -10px;
    border: none;
}
.status-ticker {
    position: absolute;
    margin-left: 190px;
    margin-top: -5px;
    padding: 3px 30px 5px 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.delstat-complete, .delstat-cancel {
    color: black;
    background-color: white;
    padding: 3px 8px;
    width: 150px;
    border: solid 1px #DBDBDB;
    text-align: left;
}
.delstat-complete {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.delstat-cancel { 
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: none;
}
.delstat-complete:hover , .delstat-cancel:hover { 
    background-color: #F0FAFF;
}
.wrap-cpopup {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    z-index: 5;
    margin: 0px;
    display: flex;
}
.inwrap-cpopup {
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cpopup {
    background-color: white;
    display: flex;
    flex-direction: column;
}
.wrap-reasonbox {
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.reject-confirm-button {
    border-radius: 5px;
    background-color: #0080BC;
    color: white;
    padding: 5px 10px;
    border: none;
}
.reject-cancel-button {
    border-radius: 5px;
    padding: 4px 12px;
    background-color: inherit;
    border: solid 1px;
}
.cancel-buttons {
    display: flex;
    margin: 20px 15px;
    gap: 20px;
    align-items: center;
    justify-content: right;
}
.topbar-cpopup {
    padding: 15px 15px 5px 15px;
    display: flex;
    justify-content: space-between;
}
.cancel-button {
    border: none;
    background-color: inherit;
}
.topbar-cpopup label {
    font-weight: 600;
    color:#0080BC;
}
.title-cancel {
    padding: 10px 15px;
    font-weight: 600px;
}
.reject-reason {
    padding: 10px;
}
.close-cpopup {
    border: solid;
    border-radius: 50%;
    background-color: #F2F2F2;
    padding: 2px;
    border: none;
}
.deliverable-unapproved {
    border: solid 1px #DBDBDB;
    padding: 30px 30px;
    border-radius: 5px;
}
.wrap-beneficbox {
    margin: 0px 15px;
}
.wrap-beneficbox label {
    width: 100%;
}