.wrapVolunteerDetails {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
}
.volunteerDetails {
    background-color: white;
    width: 70%;
    height: 80%;
    border-radius: 8px;
    overflow: scroll;
    @media (max-width: 600px) {
        width: 100%;
        margin: 5px;
    }
}
.header-volunteerDetails {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 20px
}
.switch-vdetail-vdeliv {
    display: flex;
    margin: 20px 70px 0px 70px;
    font-size: 14px;
    @media (max-width: 600px) {
        display: block;
     }
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-right: 5px;
    transition: background-color 0.3s ease;
    border-radius: 10px 10px 0 0;
    @media (max-width: 600px) {
        border-radius: 0 0 0 0;
     }
}

.tab:hover {
    background-color: #ddd;
}

.tab.active {
    background-color: #fff;
    border-top: 2px solid #007bff;
    border-left: 2px solid #007bff;
    border-right: 2px solid #007bff;
    border-bottom: none;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}
.vinfoTab, .selVinfoTab {
    width: 30%;
    padding: 10px 15px;
    @media (max-width: 600px) {
        font-size: 10px;
        width: 100%;
        margin: 10px;
     }
}

.no-need-assigned {
    padding: 20px;
    text-align: left;
    color: #666;
    font-size: 14px;
}


.selVinfoTab {
    background-color: #006FA2;
    color: white;
    @media (max-width: 600px) {
        width: 100%;
        height: 50%;
     }
}
.vinfoTab {
    border-bottom: none;
}
.vinfoTab:hover {
    cursor: pointer;
    background-color: #F0FAFE;
}

.list-volunteers {
    margin: 0px 70px;
}

.volunteer-name {
    font-size: 28px;
    color: #006FA2;
    @media (max-width: 600px) {
       font-size:16px;
    }
}
.volunteer-email {
    color: #5D5B5B;
    @media (max-width: 600px) {
        font-size:12px;
     }
}
.title-volunteerinfo {
    color: #A2A5A9;
    padding: 10px 15px 0px 10px;
    border-top: solid 1px #DBDBDB;
    @media (max-width: 600px) {
        font-size: 12px;
     }
}
.volunteerInfo {
    display: flex;
    border-bottom: solid 1px  #DBDBDB;
    @media (max-width: 600px) {
       
     }
}
.vInfo-half {
    width: 50%;
    padding: 15px;
}
.vInfo-item {
    padding: 8px;
}
.vInfo-key {
    color: #686C73;
    font-size: 14px;
    @media (max-width: 600px) {
        font-size: 10px;
    }
}
.vInfo-value {
    color: #3C4044;
    font-size: 14px;
    @media (max-width: 600px) {
        font-size: 10px;
    }
}
.recommend-voluteer {
    height: 68px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    @media (max-width: 600px) {
        font-size: 10px;
        display: block;
    }
}
.recommend-voluteer button {
    border: solid 1px #DBDBDB;
    background-color: white;
    padding: 5px 20px;
    border-radius: 5px;
    @media (max-width: 600px) {
        width: 100%;
        margin: 5px;
    }
}
.recommend-voluteer button:hover {
    border: none;
    background-color: #006FA2;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}
.btnCloseVDetails {
    height: 80%;
    margin-top: -60px;
}
.btnCloseVDetails button{
    border: none;
    border-radius: 3px;
}

.vcFulfils, .vcDeliverables {
    margin: 0px 70px;
    min-height: 300px;
    height: fit-content;
}
.vcDeliverables {
    overflow: scroll;
}

.header-vcFulfils {
    margin-bottom: 20px;
    padding: 12px 20px;
    background-color:#f7f8f9 ;
    font-weight: 400;
}

.vcfulfil-list {
    margin: 10px;
}

.vcfulfil-item {
    display: flex;
    align-items: center;
    border: solid 1px;
    padding: 8px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
    @media (max-width: 600px) {
        display: block;
        width: 100%;
        font-size: 10px;
    }
}

.vcfulfil-item:hover {
    background-color: #F0FAFE;
}

.vcfulfil-needname {
    width: 50%;
}

.vcfulfil-status, .vcfulfil-button {
    width: 25%;
}

.vcfulfil-button button {
    border: none;
    background-color: inherit;
    color:#0080BC;
}
.vcfulfil-button button:hover {
    font-weight: bold;
}


.backToPlans {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f8f9;
    padding: 10px 20px; 
    margin-bottom: 20px; 
    font-weight: 600;
}
  
.backToPlans button {
    background-color: #0080BC; /* Green background */
    color: white; /* White icon color */
    border: none; /* Remove default border */
    border-radius: 50%; /* Circular button */
    width: 36px; /* Fixed width */
    height: 36px; /* Fixed height */
    display: flex; /* Center icon */
    align-items: center; /* Center icon */
    justify-content: center; /* Center icon */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
}
  
.backToNoms button:hover {
    background-color: #45a049; /* Darker green on hover */
    transform: scale(1.1); /* Slightly enlarge on hover */
}
  
.backToNoms button:active {
    background-color: #3e8e41; /* Even darker green on click */
    transform: scale(1); /* Reset scale on click */
}