.need-popup {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: width 0.3s ease-out;
    z-index: 9999;
    overflow: hidden;
  }
  .need-popup.open {
    width: 25%;
    margin-left: calc(100% + 15px);
    z-index: 20;
  }
  .content {
    height: 100%;
    padding: 20px;
    background-color: #fff;
  }
  .close-button {
    position: absolute;
    top: 10px;
    left: -5px;
    cursor: pointer;
    font-size: 20px;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
.nominate-button {
    background-color: #0C8CE9;
    color: white;
    border: none;
    margin-right: 70%;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  .nominate-button:hover {
    background-color: #0A6DC2;
    font-size: 18px;
  }
  /* ... (previous CSS rules) */
.date-container {
    display: flex;
    align-items: center;
  }
  .date-item {
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  /* ... (remaining CSS rules) */
  hr {
    border: 0.8px solid lightgray; /* Replace 'lightgray' with the color code you prefer */
    margin: 20px 0; /* Adjust the margin to control the spacing around the line */
    width: 400px;
  }




