.wrapvolunteer {
    height: 100%;
  }
  
  .wrapNeedVol {
    height: 100%;
  }
  
  .needs {
    display: flex;
    justify-content: center;
  }
  
  .needContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .needBox {
    width: 410px;
    height: 105px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* Add position relative for absolute positioning */
  }
  
  /* Customize the appearance of text inside the boxes */
  .needBox h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .needBox p {
    font-size: 13px;
  }
  
  .vHeaderneeds {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
  }
  
  .vSearchNeed {
    margin: 0px 15px 5px 15px;
  }
  
  .location-container {
    position: absolute;
    bottom: 40px;
    left: 10px;
    display: flex;
    align-items: center;
  }
  
  .location-container p {
    margin-left: 5px;
    margin-bottom: 0px;

  }
  
  .required-container {
    position: absolute;
    bottom: 40px;
    right: 10px;
    display: flex;
    align-items: center;
  }
  
  .required-container p {
    margin-left: 5px;
    margin-bottom: 0px;
  }
  
  .calendar-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
  }
  
  .calendar-container p {
    margin-left: 5px;
    margin-bottom: 0px;

  }



  .icons-container {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    align-items: center;
  }
  
  .favorite-icon{
    margin: 5px;
  }

  .share-icon {
    font-size: 24px;
    margin: 5px;
  }