.headerVPNoms {
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 600px) {
    align-items: center;
  }
}
.titleVPNoms {
  font-size: 20px;
  font-weight: 500;
  color: #3c4044;
}
.tagVPNoms {
  color: #99999f;
  font-size: 14px;
}
.statsVPNoms {
  display: flex;
  margin: 10px 0px;
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.statsVPNomsItem {
  width: 200px;
  height: 100px;
  border: solid 1px #dbdbdb;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.statsVPNomsCount {
  font-size: 32px;
  color: #0f181f;
  font-weight: 500;
  height: 40px;
  display: flex;
  align-items: center;
}
.statsVPNomsCount img {
  margin: 0px 5px;
  padding: 5px;
  background-color: #f0faff;
}
.statsVPNomsName {
  font-size: 14px;
  color: #5f6367;
  padding-left: 45px;
}
.vNomFilters {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}
.vnomTabs {
  display: flex;
}
.vnomTabs div:hover {
  cursor: pointer;
  background-color: white;
}
.VNomTabP,
.VNomTabR {
  display: flex;
  padding: 3px 12px;
  font-size: 14px;
  background-color: #f7f8f9;
  border: solid #d3d4d5;
  border-left: none;
}
.VNomTabN {
  display: flex;
  justify-content: center;
  width: 150px;
  padding: 5px 15px;
  font-size: 14px;
  border: solid 2px #d3d4d5;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  margin-right: -2px; /* Overlap borders */
  cursor: pointer;
  background-color: #e1e1e1;
}
.emptyState {
  margin: 10px 10px;
  margin-top: 60px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  color: #555;
  text-align: center;
}

.VNomTabA {
  display: flex;
  justify-content: center;
  padding: 5px 15px;
  font-size: 14px;
  border: solid 2px #d3d4d5;
  background-color: #e1e1e1;
  border-radius: 5px 5px 0 0;
  margin-right: -2px; /* Overlap borders */
  cursor: pointer;
  width: 150px;
  border-bottom: none;
}
.selectedVNomTab {
  background-color: white;
  color: #006fa2;
}
.selectDateAndNeed {
  display: flex;
  align-items: center;
  @media (max-width: 600px) {
    display: block;
    margin: 10px;
  }
}
.selectDate {
  border: solid 1px #dbdbdb;
  border-radius: 5px;
  margin-right: 30px;
  padding: 2px 5px;
  @media (max-width: 600px) {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
.selectDate select {
  border: none;
  margin-right: 10px;
  font-size: 14px;
}
.selectNeed {
  padding: 2px;
  border: solid 1px #dbdbdb;
  border-radius: 5px;
}
.selectNeed select {
  padding: 0px 5px 0px 0px;
  border: none;
  border-radius: 5px;
  width: fit-content;
}
.nomination-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
  gap: 30px; /* spacing between items */

  @media (max-width: 600px) {
    display: block;
    margin-left: 2rem;
  }
}
.nomination-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 120px;
  width: 210px;
  padding: 10px;
  border-radius: 8px;
  border: solid 1px #dbdbdb;

  @media (max-width: 600px) {
    margin: 1rem;
    margin-bottom: 1rem;
  }
}
.needItemVolunteer {
  display: flex;
  flex-direction: column;
}
.needNameVP {
  font-size: 14px;
  color: #3c4044;
  margin: 8px 0px;
}
.viewFull {
  font-size: 14px;
  color: #0080bc;
  border: none;
  background-color: inherit;
  text-align: left;
}
.backBtnVDeliverable {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
