.main-content {
  width: 800px;

  @media (max-width: 600px) {
    width: 0;
  }
}
.pro {
  display: flex;
  margin: 10px 0px 30px 0px;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 600px) {
    width: 18rem;
    margin: 10px;
  }
}
.main-header {
  color: rgba(60, 64, 68, 1);
  margin-bottom: 5px;
  font-size: 24px;
}
.gray-text {
  color: gray;
  width: fit-content;
}
.discord-profile-custom-button {
  background-color: inherit;
  padding: 3px 10px;
  border: solid 1px #dbdbdb;
  border-radius: 5px;
}
.profile-info-box {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-bottom: 30px;
  border: 1px solid #dbdbdb;
  border-radius: 8px;

  @media (max-width: 600px) {
    width: 18rem;
    margin: 10px;
  }
}
.box-header {
  color: rgba(104, 108, 115, 1);
  font-size: 20px;
  font-weight: 500;
  border-bottom: solid 1px #dbdbdb;
  padding: 10px 20px;
}
.info-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
  padding: 12px 24px 12px 24px;
  gap: 10px;
  font-size: 14px;
}
.info-label {
  margin: 1px;
  color: #686c73;
  flex: 1;
}
.info-data {
  margin: 0;
  flex: 0.8;
}

/* -------------------------- */
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.name-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.name-section h1 {
  margin: 0;
}
.contact-info p {
  margin: 5px 0;
}
.logout-button {
  margin-top: 10px;
  align-self: flex-end;
}
.info-and-edit {
  display: flex;
  align-items: center;
}
.header-container {
  display: inline-block;
  vertical-align: middle;
}
