.wrapNeeds {
    display: flex;
    float: right;
    height: 90%;
    width: calc(100% - 350px);
    background-color: #fafafa;
}

.needPlansGrid {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
}

.calendar{
    background-color:  white;
}

.box {
    padding: 1%;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    margin-right: 2%;
    border-radius: 0.8vh;
  }
  
  .label {
    font-weight: bold;
    border-right: 1px solid black;
    padding: 1vh;
  }
  
  .value {
    color: #888;
    padding: 1vh;
  }