.wrapHead {
    height: 100%;
    align-items: center;
    background-color: white;
}
.head {
    height:51px;
    width: 100%;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
}
.leftHead {
    height: 51px;
    background-color: white;
}
.rightHead {
    height: 51px;
    display:flex;
    align-items: center;
    background-color: white;
    justify-content: right;
    z-index: 2;
}
.wrapProfile {
    height: 50px;
    display:flex;
    align-items: center;
    background-color: white;
    justify-content: right;
    z-index: 2;
}
.wrapSideMenu {
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: right;
}
.notification {
    padding: 2px;
    padding-right: 15px;
}
.btnProf {
    width: fit-content;
    border: none;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    text-align: left;
}
.profIcon {
    margin-right: 8px;
}
.verticalLine {
    height: 32px;
    width: 1px;
    margin-right:10px;
    border-right: solid;
}
.wrapDropDownProfile {
    position: absolute;
    top: 65px;
    z-index: 5;
}
.dropDownProfile {
    float: right;
    background-color: white;
}
.dropDownProfile li {
    list-style-type: none;
    width: fit-content;
    width: 100%;
}
.profileInfo {
    padding-left: 5px;
}
.btnLogout {
    text-align: left;
    background-color: inherit;
    z-index: 5;
    width: 100%;
    border: none;
}
.profileInfo:hover, .btnLogout:hover {
    background-color: gainsboro;
}
.menuIcon {
    padding: 0px 10px;
}
