.sideNav {
    height: 100%;
}
.wrapSideLogo {
    height: 75px;
    display: flex;
}
.logoSideNav {
    margin:20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoSideNav img {
    border: solid;
}
.navGroup {
    padding: 10px;
    border-top: solid;
    border-color: rgba(242, 242, 242, 1);
}
.groupName {
    font-family: Poppins;
    font-weight: 400;
    font-size: 13px;;
    color: rgba(8, 36, 49, 0.5);
}
.wrapSideListItem {
    width: 100%;
}
.sidebarListItem {
    width: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 10px 14px;
    color: #94A3B8;
}
.sidebarListItem i {
    margin-right: 15px;
    font-size: 12px;
}
.sidebarListItem:hover {
    background-color:  #DFE5EC;
}
.active li {
    background-color: #DFE5EC;
    color: #4D6280;
}
.linkSideNav {
    text-decoration: none;
}